html{
	background-color: white;
}

.splash-text h1, .splash-text h2, .splash-text h3, .splash-text h4, .splash-text h5, .splash-text h6{
	padding:10px;

	/*background: white;*/
	text-transform: uppercase;
	font-weight: 900; 
	display: inline-block;
	margin:5px;
}
.splash-text small{
	border-bottom:3px solid black;
	position: relative;
	bottom: 8px;
}

h2{
	text-transform: uppercase;
	padding:10px;
}

.section{
	padding:10px;
}

p.flow-text{
	margin-top:0px;
}

img.map{
	border: 10px solid #8bc34a;
}

/*nospacing*/

.nospacing th, .nospacing td{
	padding-top:0px;
	padding-bottom:0px;
	vertical-align: top;
}

.fixedtable{
	table-layout: fixed;
}

/*basestable*/

table.basestable th{
	text-align:right;
	vertical-align: top;
	color: #4caf50;
}

/*scheduletable*/
table.scheduletable th{
	text-align: right;
}
table.scheduletable span{
	color: #2196f3;
}
table.scheduletable td{
	text-align: left;
	/*border: 1px solid grey;*/
}

.vertical-text {
	transform: rotate(-90deg);
	transform-origin: left top 0;
}

/*tabs*/
/*.nav-*/
.nav-tabs li a{
	display:inline-block !important;
	width:90% !important;
	height:auto !important;
}

div.indicator{
	display:none;
	/*bottom:-15px!important;*/
	/*height:5px !important;*/
	/*background-color: blue !important;*/
}



/*//table//*/
table#mathtable{
	margin:10px;
	margin-top:-3px;
	/*padding:10px !important;*/
	/*background: lightgrey;*/
}
table#mathtable tr {
	vertical-align: bottom;
}
table#mathtable td {
	padding:5px;
}
table#mathtable td:first-child {
	font-size: 1.7em;
}
table#mathtable tr:last-child {
	border-top:1px solid black;
}




footer{
	opacity:0.3;
	padding:10px;
	margin-bottom:20px;
	border-left:1px solid grey;
}
footer:hover{
	opacity:1.0;
}