html{
	background-color: white;
}

.splash-text h1, .splash-text h2, .splash-text h3, .splash-text h4, .splash-text h5, .splash-text h6{
	padding:10px;

	/*background: white;*/
	text-transform: uppercase;
	font-weight: 900; 
	display: inline-block;
	margin:5px;
}
.splash-text small{
	border-bottom:3px solid black;
	position: relative;
	bottom: 8px;
}

h1{
	color:white;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	font-size:5em;
}

h2{
	text-transform: uppercase;
	padding:10px;
}

.section{
	padding:10px;
}

p.flow-text{
	margin-top:0px;
}

img.map{
	border: 10px solid #8bc34a;
}

/*nospacing*/

.nospacing th, .nospacing td{
	padding-top:0px;
	padding-bottom:0px;
	vertical-align: top;
}

.fixedtable{
	table-layout: fixed;
}

/*basestable*/

table.basestable th{
	text-align:right;
	vertical-align: top;
	color: #4caf50;
}

/*scheduletable*/
table.scheduletable {
	font-size: 1.3em;
}
table.scheduletable .duration{
	color:grey;
	font-weight: 300;
}
table.scheduletable .duration::before{
	content: " ~ ";
}
table.scheduletable .duration::after{
	content: " min";
}
table.scheduletable th{
	text-align: right;
}
table.scheduletable span{
	color: #2196f3;
}
table.scheduletable td{
	text-align: left;
	/*border: 1px solid grey;*/
}

/* #row-tabs */
.navbar-fixed li:hover{
	background-color:inherit !important;
}
#row-tabs li a{
	display:inline-block !important;
	width:90% !important;
	height:auto !important;
	font-size:1.5em;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	background: white;
}
#row-tabs li a:hover{
	box-shadow: none;
	text-decoration: underline;
}

div.indicator{
	background-color: pink !important;
}


/*#row-parallax*/
#row-parallax {
	text-align: center;
}
#row-parallax .splash-text{
	z-index: 10; 
	margin-left:auto; 
	margin-right:auto;	
}


/*#mathtable*/

table#mathtable{
	margin:10px;
	margin-top:-3px;
	font-size:1.2em;
	margin-left:auto;
	margin-right:auto;
	max-width:300px;
}
table#mathtable th, table#mathtable td {
}
table#mathtable td {
	padding:0px;
	padding-left:10px;
	line-height:0.9em;
}
table#mathtable th {
	padding:0px;
	text-align: right;
	font-size:1.5em;
}
table#mathtable tr:last-child {
	border-top:1px solid black;
}

/*scoring find*/
.find{
	text-transform: uppercase;
	font-size:x-large;
}

/*footer*/

footer a{
	color:inherit;
	text-decoration: underline;
}
